src/.vs
src/Pacagroup.Eccomerce.Application.DTO/bin
src/Pacagroup.Eccomerce.Application.DTO/obj
src/Pacagroup.Eccomerce.Application.Interface/bin
src/Pacagroup.Eccomerce.Application.Interface/obj
src/Pacagroup.Eccomerce.Application.Main/bin
src/Pacagroup.Eccomerce.Application.Main/obj
src/Pacagroup.Eccomerce.Domain.Core/bin
src/Pacagroup.Eccomerce.Domain.Core/obj
src/Pacagroup.Eccomerce.Domain.Entity/bin
src/Pacagroup.Eccomerce.Domain.Entity/obj
src/Pacagroup.Eccomerce.Domain.Interface/bin
src/Pacagroup.Eccomerce.Domain.Interface/obj
src/Pacagroup.Eccomerce.Infraestructura.Data/bin
src/Pacagroup.Eccomerce.Infraestructura.Data/obj
src/Pacagroup.Eccomerce.Infraestructura.Repository/bin
src/Pacagroup.Eccomerce.Infraestructura.Repository/obj
src/Pacagroup.Eccomerce.Infraestructure.Interface/bin
src/Pacagroup.Eccomerce.Infraestructure.Interface/obj
src/Pacagroup.Eccomerce.Services.WebApi/bin
src/Pacagroup.Eccomerce.Services.WebApi/obj
src/Pacagroup.Eccomerce.Transversal.Common/bin
src/Pacagroup.Eccomerce.Transversal.Common/obj
src/Pacagroup.Eccomerce.Transversal.Mapper/bin
src/Pacagroup.Eccomerce.Transversal.Mapper/obj
src/Pacagroup.Ecommerce.Transversal.Logging/bin
src/Pacagroup.Ecommerce.Transversal.Logging/obj